@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

*, html {
	margin: 0;
	padding:  0;
	outline: none;
	border:  none;
	box-sizing: border-box;
}
body {
	font-family: ;
}

